<div class="fluid-container">
  <div class="jumbotron">
    <div class="container mt-3">
      <h2>Our Team</h2>
      <div class="media border p-3 bg-secondry">
        <img src="../../assets\images\murshad.jpg" alt="Murshad" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>Syed Zeeshan Yousaf</h4>
          <p>Team Lead @ <span style="color:crimson">Goi Organization</span><br>
          bscs.f16.a05@gmail.com
          </p>   
        </div>
      </div>
    </div>

    <div class="container mt-3">
        <div class="media border p-3 bg-secondry">
          <img src="../../assets\images\saad1.jpg" alt="Saad" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h4>Muhammad Saad Ul Haasan</h4>
            <p>UX/UI Designer @ <span style="color:crimson">Lahori.Shankar.org</span><br>
              bscs.f16.a.41@gmail.com
            </p>      
          </div>
        </div>
      </div>
  </div>
  <footer class="text-center bg-dark text-danger font-italic "> &copy; 2019 Murshad All Rights Reserved </footer>
</div>